@media (max-width:800px){
    :root{
        --green:#d3d3d3;
       
        --space:10px
    }
    .navbar-brand{
        font-size: 30px
    }
    .navbar{
        padding: 20px 0px
    }
    .navbar-toggler-icon{
        width: 40px
    }
    .dropdown{
        justify-content: center
    }
    .mycontainer{
        padding-left: var(--space);flex-wrap: wrap;padding-right:var(--space)
    }
    .screen{
        width: 32vh;left: 143px
    }
    .screen2{
        width: 32vh;left: 0px
    }
    
    .flex{
        width: 100%;text-align: start;
    }
    .button{
        margin: 30px auto
    }
    
}
@media (min-width:360px) and (max-width:390px){
    .parentimg{
        position: relative;top: 50px;padding-left: var(--space);
    }
    .screen{
        width: 32vh;left: 143px
    }
    .screen2{
        width: 32vh;left: 0px
    }
}
@media (min-width:392px) and (max-width:1000px){
    .parentimg{
        position: relative;top: 50px;margin: 0px auto
    }
    .screen{
        width: 32vh;left: 80px
    }
    .screen2{
        width: 32vh;left: -90px
    }
}
@media(min-width:1000px) and (max-width:1100px){
    .mycontainer {
        display: flex;
        padding: 0px 50px;
        gap: 50px;
}
.navbar {
    padding: 20px 35px;
}
}
